//
//  default.xcconfig
//  KoreBotSDKDemo
//
//  Created by Damian Sullivan on 11/06/2018.
//  Copyright © 2018 Kore. All rights reserved.
//

#include "../Pods/Target Support Files/Pods-KoreBotSDKDemo/Pods-KoreBotSDKDemo.debug.xcconfig"

FIPS_PACKAGE=$(CURRENT_ARCH).sdk
LDPLUSPLUS=~/Library/Application Support/BlackBerry/Good.platform/iOS/FIPS_module/$FIPS_PACKAGE/bin/gd_fipsld
LD=~/Library/Application Support/BlackBerry/Good.platform/iOS/FIPS_module/$FIPS_PACKAGE/bin/gd_fipsld
ENABLE_BITCODE=NO
ENTITLEMENTS_REQUIRED=YES
//CODE_SIGN_ENTITLEMENTS[sdk=iphonesimulator10.*]=$(SRCROOT)/$(PROJECT_NAME)/Entitlements.plist
CODE_SIGN_ENTITLEMENTS[sdk=iphonesimulator10.*]=${PROJECT_DIR}/KoreBotSDKDemo/Entitlements.plist

// App ID
PRODUCT_BUNDLE_IDENTIFIER           = com.citi.mcoe.oneapproval.dev
BUNDLE_DISPLAY_NAME                 = OA DEV

// Blackberry
GD_ENTITLEMENT_ID                   = com.citi.mcoe.oneapproval.dev
GD_ENTITLEMENT_VERSION              = 1.0.0.0

URL_IDENTIFIER                      = com.citi.mcoe.oneapproval.dev
URL_SCHEME_ITEM_0                   = com.citi.mcoe.oneapproval.dev.sc2
URL_SCHEME_ITEM_1                   = com.citi.mcoe.oneapproval.dev.sc2.1.0.0.0
URL_SCHEME_ITEM_2                   = com.citi.mcoe.oneapproval.dev.sc3
URL_SCHEME_ITEM_3                   = com.good.gd.discovery

//FIPS_PACKAGE                        = $(CURRENT_ARCH).sdk
//LDPLUSPLUS                          = ${PROJECT_DIR}/OneApproval/Frameworks/BlackBerry/FIPS_module/$FIPS_PACKAGE/bin/gd_fipsld
//LD                                  = ${PROJECT_DIR}/OneApproval/Frameworks/BlackBerry/FIPS_module/$FIPS_PACKAGE/bin/gd_fipsld

// Good Technologies Log Filtering
// 'GDFilterNone' to log all
GD_LOGGING_FILTER_0                 = GDFilterDetailed
GD_LOGGING_FILTER_1                 = GDFilterInfo
GD_LOGGING_FILTER_2                 = GDFilterWarnings
GD_LOGGING_FILTER_3                 = GDFilterErrors
